{% import "_includes/forms" as forms %}

{% set isPro = plugin.is('pro') %}

{{ forms.textField({
    label: "Plugin Name"|t('sprout-seo'),
    instructions: "Intuitive, human-readable plugin name for the end user."|t('sprout-seo'),
    id: 'pluginNameOverride',
    name: 'pluginNameOverride',
    value: settings.pluginNameOverride,
    placeholder: 'Sprout SEO',
    autofocus: true,
    first: true,
    errors: ''
}) }}

{% set advancedInput %}
    <table class="data" style="width: auto;">
        <thead>
        <tr>
            <th scope="col">{{ "Feature"|t('sprout-seo') }}</th>
            <th scope="col">{{ "Enabled?"|t('sprout-seo') }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label for="enableSitemaps">{{ "Enable Sitemaps"|t('sprout-seo') }}{% if not isPro %} <span class="sprout-pro">PRO</span>{% endif %}</label>
            </td>
            <td class="centeralign">
                <div>
                    {{ forms.lightswitch({
                        name: 'enableSitemaps',
                        on: not isPro ? false : settings.enableSitemaps,
                        disabled: not isPro
                    }) }}
                </div>
            </td>
        </tr>
        </tbody>
    </table>

{% endset %}

{{ forms.field({
    label: "Choose which features to enable"|t('sprout-seo'),
    instructions: "Disabled items will be removed from the sidebar navigation and no longer accessible in the Control Panel."|t('sprout-seo')
}, advancedInput) }}

<hr>

{{ forms.textField({
    label: "Meta Description Length"|t('sprout-seo'),
    instructions: "The maximum number of characters to allow for Meta Description fields."|t('sprout-seo'),
    name: 'maxMetaDescriptionLength',
    placeholder: '160',
    size:'10',
    value: settings.maxMetaDescriptionLength,
    errors: ''
}) }}

{{ forms.lightswitchField({
    label: "Display Field Handles"|t('sprout-seo'),
    instructions: "Enable this setting to display field handle next to the field name in your Element Metadata field settings."|t('sprout-seo'),
    name: 'displayFieldHandles',
    on: settings.displayFieldHandles ? true : false,
    onLabel: "Enable"|t
}) }}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assets\\cp\\CpAsset") %}
{% do view.registerAssetBundle("barrelstrength\\sproutseo\\web\\assets\\seo\\SproutSeoAsset") %}
