{% import "_includes/forms" as forms %}

{% set isPro = plugin.is('pro') %}
{% set isProBadge = not isPro ? ' <span class="sprout-pro">PRO</span>' : '' %}

{{ forms.textField({
    label: "Plugin Name"|t('sprout-seo'),
    instructions: "Intuitive, human-readable plugin name for the end user."|t('sprout-seo'),
    id: 'pluginNameOverride',
    name: 'pluginNameOverride',
    value: settings.pluginNameOverride,
    placeholder: 'Sprout SEO',
    autofocus: true,
    first: true,
    errors: ''
}) }}

{{ forms.textField({
    label: "Meta Description Length"|t('sprout-seo'),
    instructions: "The maximum number of characters to allow for Meta Description fields."|t('sprout-seo'),
    name: 'maxMetaDescriptionLength',
    placeholder: '160',
    size:'10',
    value: settings.maxMetaDescriptionLength,
    errors: ''
}) }}

{{ forms.lightswitchField({
    label: "Automatically render metadata"|t('sprout-seo') ~ isProBadge,
    instructions: "Sprout SEO prepares and outputs all of your metadata in your template. If you'd like to manage this output manually, you can disable this setting and enable the 'Enable custom metadata variable' setting below."|t('sprout-seo'),
    name: 'enableRenderMetadata',
    on: not isPro ? true : (settings.enableRenderMetadata is empty ? false : true),
    onLabel: "Enable"|t('sprout-seo'),
    disabled: not isPro
}) }}

{{ forms.lightswitchField({
    label: "Enable custom metadata variable"|t('sprout-seo') ~ isProBadge,
    instructions: "Make a global `metadata` variable available to all of your templates. The `metadata` variable will contain page-specific Prioritized Metadata and Structured Data, and all of your Globals. Ensure the {% sproutseo 'optimize' %} tag is in your template to generate the `metadata` variable. If you plan to handle the `metadata` variable on your own, you may also want to disable the 'Automatically render metadata' setting above, to ensure you don't output your metadata twice."|t('sprout-seo'),
    name: 'useMetadataVariable',
    toggle: 'settings-enablemetadatavariable',
    on: not isPro ? false : settings.useMetadataVariable,
    onLabel: "Enable"|t('sprout-seo'),
    disabled: not isPro
}) }}

<div id="settings-enablemetadatavariable"
    class="{% if not settings.useMetadataVariable %} hidden {% endif %}">

    {{ forms.textField({
        label: "Custom metadata variable name"|t('sprout-seo'),
        instructions: "Give your global `metadata` variable a name. You will use this variable name to access your metadata in your templates."|t('sprout-seo'),
        name: 'metadataVariableName',
        placeholder: 'metadata',
        value: settings.metadataVariableName,
        errors: ''
    }) }}

</div>

{{ forms.lightswitchField({
    label: "Display Field Handles"|t('sprout-seo'),
    instructions: "Enable this setting to display field handle next to the field name in your Element Metadata field settings."|t('sprout-seo'),
    name: 'displayFieldHandles',
    on: settings.displayFieldHandles ? true : false,
    onLabel: "Enable"|t
}) }}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assets\\cp\\CpAsset") %}
{% do view.registerAssetBundle("barrelstrength\\sproutseo\\web\\assets\\seo\\SproutSeoAsset") %}
