{% import "_includes/forms" as forms %}
{% import "sprout-seo/_includes/sproutseo" as sprout %}

{% set sproutApp = craft.app.getModule('sprout-seo').app %}

{% set pluginSettings   = craft.sproutSeo.getSettings() %}

{% set displayMetadataField = false %}
{% set maxDescriptionLength = craft.sproutSeo.getDescriptionLength() %}

{# Prepare our SEO badge info icons #}
<div class="sproutseo-metatitle-info hidden">
    {{- sprout.infoIcon({
        label: "Meta Title"|t('sprout-seo'),
        search: true,
        openGraph: true,
        twitterCard: true,
        priority: 'elements'
    }) -}}
</div>

<div class="sproutseo-metadescription-info hidden">
    {{- sprout.infoIcon({
        label: "Meta Description"|t('sprout-seo'),
        search: true,
        openGraph: true,
        twitterCard: true,
        priority: 'elements'
    }) -}}
</div>

<div class="sproutseo-metaimage-info hidden">
    {{- sprout.infoIcon({
        label: "Meta Image"|t('sprout-seo'),
        search: true,
        openGraph: true,
        twitterCard: true,
        priority: 'elements'
    }) -}}
</div>

<div>
    <div class="sproutseo-box-optimized">
        <input type="hidden"
            name="{{ field.handle~'[metadata][enableMetaDetailsSearch]' }}"
            value="{{ values.enableMetaDetailsSearch }}">
        <input type="hidden"
            name="{{ field.handle~'[metadata][enableMetaDetailsOpenGraph]' }}"
            value="{{ values.enableMetaDetailsOpenGraph }}">
        <input type="hidden"
            name="{{ field.handle~'[metadata][enableMetaDetailsTwitterCard]' }}"
            value="{{ values.enableMetaDetailsTwitterCard }}">
        <input type="hidden"
            name="{{ field.handle~'[metadata][enableMetaDetailsGeo]' }}"
            value="{{ values.enableMetaDetailsGeo }}">
        <input type="hidden"
            name="{{ field.handle~'[metadata][enableMetaDetailsRobots]' }}"
            value="{{ values.enableMetaDetailsRobots }}">
        {% if settings is defined %}
            <input type="hidden" class="field"
                name="{{ field.handle~'[metadata][sproutSeoSettings]' }}"
                value="{{ settings|json_encode }}">
        {% endif %}

        {% if settings.optimizedTitleField == 'manually' %}

            {% set displayMetadataField = true %}

            {{ forms.textField({
                label: 'Meta Title'|t('sprout-seo') ~ sprout.infoIcon({
                    label: "Meta Title"|t('sprout-seo'),
                    search: true,
                    openGraph: true,
                    twitterCard: true
                }),
                instructions: "The Title of your content which will appear in search results and social sharing."|t('sprout-seo'),
                name: field.handle~'[metadata][optimizedTitle]',
                id: 'sproutseo-optimizedtitle',
                maxlength: 60,
                showCharsLeft: true,
                value: values.optimizedTitle,
                errors: '',
                class: 'nicetext',
                required: field.required ?? false,
                first: true
            }) }}

        {% endif %}

        {% if settings.optimizedDescriptionField == 'manually' %}

            {% set displayMetadataField = true %}

            {{ forms.textareaField({
                label: 'Meta Description'|t('sprout-seo') ~ sprout.infoIcon({
                    label: "Meta Description"|t('sprout-seo'),
                    search: true,
                    openGraph: true,
                    twitterCard: true
                }),
                instructions: "A description of your content which will appear in search results and social sharing."|t('sprout-seo'),
                name: field.handle~'[metadata][optimizedDescription]',
                maxlength: maxDescriptionLength,
                showCharsLeft: true,
                id: 'sproutseo-optimizeddescription',
                value: values.optimizedDescription,
                required: field.required ?? false
            }) }}
        {% endif %}

        {% if settings.optimizedImageField == 'manually' %}

            {% set displayMetadataField = true %}

            {{ forms.field({
                label: 'Meta Image'|t('sprout-seo') ~ sprout.infoIcon({
                    label: "Meta Image"|t('sprout-seo'),
                    openGraph: true,
                    twitterCard: true
                }),
                instructions: 'A featured image that represents your content that will display in social sharing.'|t('sprout-seo'),
                id: 'sproutseo-optimizedimage',
            }, forms.elementSelect({
                elements: metaImageElements,
                sourceElementId: [values.optimizedImage],
                elementType: assetElementClassName,
                sources: '*',
                id: 'optimizedImage',
                name: field.handle~'[metadata][optimizedImage]',
                jsClass: 'Craft.AssetSelectInput',
                addButtonLabel: 'Select Image'|t('sprout-seo'),
                limit: 1,
                criteria: {kind: ['image'], siteId : null}
            })) }}

        {% endif %}

        {% if settings.editCanonical %}

            {% set displayMetadataField = true %}

            {{ forms.textField({
                label: "Canonical URL"|t('sprout-seo') ~ sprout.infoIcon({
                    label: "Canonical URL"|t('sprout-seo'),
                    search: true,
                    structured: true,
                    openGraph: true,
                    twitterCard: true
                }),
                instructions: "The Canonical URL of your webpage"|t('sprout-seo'),
                id: 'sproutseo-canonical',
                name: field.handle~'[metadata][canonical]',
                value: values.canonical
            }) }}

        {% endif %}

        {% if settings.optimizedKeywordsField == 'manually' %}

            {% set displayMetadataField = true %}

            {% set keywordsValue = values['keywords'] is defined ? values.keywords : null %}

            {{ forms.textField({
                label: "Meta Keywords"|t('sprout-seo') ~ sprout.infoIcon({
                    label: "Meta Keywords"|t('sprout-seo'),
                    search: true
                }),
                instructions: "The primary keywords or phrases that describe your website."|t('sprout-seo'),
                id: 'sproutseo-optimizedkeywords',
                name: field.handle~'[metadata][optimizedKeywords]',
                value: values.optimizedKeywords
            }) }}
        {% endif %}

    </div>

    {% if settings.enableMetaDetailsFields %}

        {% set displayMetadataField = true %}

        {% if settings.showSearchMeta or settings.showGeo or settings.showRobots or settings.showOpenGraph or settings.showTwitter %}
            {% set advancedSeoButtons %}
                <div class="buttons">
                    <div id="{{ field.handle }}-meta-details-tabs" class="btngroup sproutseo-advancedoption-btns">

                        {% if settings.showSearchMeta %}
                            <div class="btn" id="btn-Search" data-type="Search">
                                <i class="sproutseo-icon icon-search">
                                    {{ svg('@sproutbaseicons/search.svg') }}
                                </i> {{ "Search Meta"|t('sprout-seo') }}</div>
                        {% endif %}

                        {% if settings.showOpenGraph %}
                            <div class="btn" id="btn-OpenGraph"
                                data-type="OpenGraph">
                                <i class="sproutseo-icon icon-facebook">
                                    {{ svg('@sproutbaseicons/facebook-f.svg') }}
                                </i> {{ "Open Graph"|t('sprout-seo') }}</div>
                        {% endif %}

                        {% if settings.showTwitter %}
                            <div class="btn" id="btn-TwitterCard"
                                data-type="TwitterCard">
                                <i class="sproutseo-icon icon-twitter">
                                    {{ svg('@sproutbaseicons/twitter.svg') }}
                                </i> {{ "Twitter Card"|t('sprout-seo') }}</div>
                        {% endif %}

                        {% if settings.showGeo %}
                            <div class="btn" id="btn-Geo" data-type="Geo">
                                <i class="sproutseo-icon icon-location">
                                    {{ svg('@sproutbaseicons/map-marker-alt.svg') }}
                                </i> {{ "Geo"|t('sprout-seo') }}</div>
                        {% endif %}

                        {% if settings.showRobots %}
                            <div class="btn" id="btn-Robots" data-type="Robots">
                                <i class="sproutseo-icon icon-robots">
                                    {{ svg('@sproutbaseicons/search-minus.svg') }}
                                </i> {{ "Robots"|t('sprout-seo') }}</div>
                        {% endif %}

                    </div>
                    <div class="btn add icon menubtn hidden">{{ "Add a block"|t('sprout-seo') }}</div>
                </div>
            {% endset %}

            {{ forms.field({
                label: 'Meta Details'|t('sprout-seo'),
                instructions: 'Fine-tune your metadata to your specific SEO needs. Meta Details values will take priority when displaying metadata for this page.'|t('sprout-seo'),
                id: 'sproutseo-advancedcustomizationfields',
            }, advancedSeoButtons) }}
        {% endif %}

        <div id="{{ field.handle }}-meta-details-body" class="matrix matrix-field sproutseo-matrixfields" style="position: relative;">

            <div class="matrixblock fields-Search"
                {% if (values.enableMetaDetailsSearch is defined and values.enableMetaDetailsSearch == 0) or not settings.showSearchMeta %} style="display:none;" {% endif %}
            >

                {% include "sprout-seo/_components/fields/elementmetadata/blocks/input" %}

            </div>

            <div class="matrixblock fields-OpenGraph"
                {% if values.enableMetaDetailsOpenGraph == 0 or not settings.showOpenGraph %} style="display:none;" {% endif %}
            >

                {% include "sprout-seo/_components/fields/elementmetadata/blocks/open-graph" %}

            </div>

            <div class="matrixblock fields-TwitterCard"
                {% if values.enableMetaDetailsTwitterCard == 0 or not settings.showTwitter %} style="display:none;" {% endif %}
            >

                {% include "sprout-seo/_components/fields/elementmetadata/blocks/twitter-card" %}

            </div>
            <div class="matrixblock fields-Geo"
                {% if values.enableMetaDetailsGeo == 0 or not settings.showGeo %} style="display:none;" {% endif %}
            >

                {% include "sprout-seo/_components/fields/elementmetadata/blocks/geo" %}

            </div>

            <div class="matrixblock fields-Robots"
                {% if values.enableMetaDetailsRobots == 0 or not settings.showRobots %} style="display:none;" {% endif %}
            >

                {% set robotsNamespace = field.handle ~ '[metadata][robots]' %}
                {% include "sprout-seo/_components/fields/elementmetadata/blocks/robots" %}

            </div>

        </div>

    {% endif %}
</div>

{% css %}
    {# Hide the Heading of our Field so all our grouped sub-fields
feel like they are part of the natural flow of fields #}
    {% if fieldId is defined %}
        #{{ fieldId }} > .heading:first-of-type { display: none; }
    {% endif %}
{% endcss %}

{% js on ready %}

    {% set seoBadgeInfo = sproutApp.elementMetadata.getSeoBadgeInfo(settings) %}

    new SproutSeoMetadataField({
    fieldHandle: '{{ field.handle }}',
    seoBadgeInfo: {{ seoBadgeInfo|json_encode|raw }},
    maxDescriptionLength: '{{ maxDescriptionLength }}'
    });

    new MetaDetailsToggle({
    fieldHandle: '{{ field.handle }}',
    selectFieldId: '#fields-open-graph select'
    });

    new MetaDetailsToggle({
    fieldHandle: '{{ field.handle }}',
    selectFieldId: '#fields-twitter-card select'
    });

    new SproutSeoKeywordsField({
    keywordsFieldId: '#fields-sproutseo-searchKeywords-field'
    });

    {% if settings.optimizedKeywordsField == 'manually' %}
        new SproutSeoKeywordsField({
        keywordsFieldId: '#fields-sproutseo-optimizedkeywords-field'
        });
    {% endif %}

{% endjs %}