{% import "_includes/forms" as forms %}
{% import "sprout-base-fields/_includes/forms" as sproutFields %}
{% import 'sprout-base/_includes/sproutcp' as sprout %}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assets\\cp\\CpAsset") %}

{% set metadataFieldCount = craft.app.getModule('sprout-seo').app.settings.getMetadataFieldCount() %}
{% set noMetadataFieldsExist = not fieldId and metadataFieldCount == 0 %}
{% set thisIsTheOneMetadataField = fieldId and metadataFieldCount == 1 %}

{% if isPro or noMetadataFieldsExist or thisIsTheOneMetadataField %}

    {% if not isPro and not(noMetadataFieldsExist or thisIsTheOneMetadataField) %}
        {{ sprout.upgradeToProCallout({
            message: '<a href="'~cpUrl('sprout-seo/upgrade')~'">Upgrade to PRO</a> to enable multiple Metadata field mappings, manage redirects, and generate sitemaps.'
        }) }}
    {% endif %}

    {% set pluginSettings = craft.sproutSeo.getSettings() %}
    {% set optimizedTitleOptions = craft.sproutSeo.getOptimizedTitleOptions(settings) %}
    {% set mainEntityValues = {'schemaTypeId': settings.schemaTypeId, 'schemaOverrideTypeId': settings.schemaOverrideTypeId} %}


    {{ forms.field({
        label: 'Meta Title'|t('sprout-seo'),
        instructions: "Select the field to use for your basic, Open Graph, and Twitter Card meta tag titles. Select 'Manually' if you want the Optimize field to display a custom Title Field for your content editors to manage."|t('sprout-seo'),
        first: true,
        errors: field.getErrors('optimizedTitleField'),
    }, sproutFields.selectOther({
        name: 'optimizedTitleField',
        id: 'optimizedTitleField',
        options: optimizedTitleOptions ,
        value: field.optimizedTitleField is defined ? settings.optimizedTitleField : null,
        otherPlaceholderText: 'Custom title pattern. Twig code allowed, i.e. {title} - {customField}'|t('sprout-seo')
    })) }}

    {% set optimizedDescriptionOptions = craft.sproutSeo.getOptimizedDescriptionOptions(settings) %}

    <div class="field">
        <div class="heading">
            <label for="siteOwnerType">{{ "Meta Description"|t('sprout-seo') }}</label>
            <p class="instructions">
                {{ "Select the field to use for your basic, Open Graph, and Twitter Card meta tag descriptions. Select 'Manually' if you want the Optimize field to display a custom Description Field for your content editors to manage."|t('sprout-seo') }}
            </p>
        </div>
        <div class="input">
            <div class="field sprout-selectother">
                {{ sproutFields.selectOther({
                    name: 'optimizedDescriptionField',
                    id: 'optimizedDescriptionField',
                    options: optimizedDescriptionOptions,
                    value: settings.optimizedDescriptionField is defined ? settings.optimizedDescriptionField : 'manually',
                    otherPlaceholderText: 'Custom title pattern. Twig code allowed, i.e. {title} - {customField}'|t('sprout-seo')
                }) }}
            </div>
        </div>
    </div>


    {% set optimizedKeywordOptions = craft.sproutSeo.getKeywordsOptions() %}

    {{ forms.selectField({
        label: "Meta Keywords"|t('sprout-seo'),
        instructions: "Generate keywords and key phrases dynamically based on an algorithm or add them manually."|t('sprout-seo'),
        id: 'optimizedKeywordsField',
        name: 'optimizedKeywordsField',
        options: optimizedKeywordOptions,
        value: settings.optimizedKeywordsField is defined ? settings.optimizedKeywordsField : 'manually',
    }) }}

    {% set optimizedImageOptions = craft.sproutSeo.getOptimizedAssetsOptions(settings) %}

    <div class="field">
        <div class="heading">
            <label for="siteOwnerType">{{ "Meta Image"|t('sprout-seo') }}</label>
            <p class="instructions">
                {{ "Select the Assets field to use for your basic, Open Graph, and Twitter Card meta tag feature image. Select 'Manually' if you want the Optimize field to display a custom Feature Image Field for your content editors to manage."|t('sprout-seo') }}
            </p>
        </div>
        <div class="input">
            <div class="field sprout-selectother">
                {{ sproutFields.selectOther({
                    id: 'optimizedImageField',
                    name: 'optimizedImageField',
                    options: optimizedImageOptions,
                    value: settings.optimizedImageField is defined ? settings.optimizedImageField : 'manually',
                    otherPlaceholderText: 'Custom title pattern. Twig code allowed, i.e. {title} - {customField}'|t('sprout-seo')
                }) }}
            </div>
        </div>
    </div>

    <div id="organization" class="organization-info">
        <div class="identitytype-dropdown organizationinfo-dropdown">
            {{ forms.selectField({
                label: 'Main Entity',
                instructions: 'Select the Structured Data schema type that best represents your content. Test your metadata using the <a href="https://search.google.com/structured-data/testing-tool" target="_blank">Structured Data Testing Tool</a>. Advanced integrations may be necessary for more specialized data types.'|t('sprout-seo'),
                class: 'mainentity-firstdropdown',
                name: 'schemaTypeId',
                options: schemas,
                value: '',
                required: false
            }) }}
        </div>
        <div class="identitytype-dropdown organizationinfo-dropdown hidden">
            {{ forms.selectField({
                class: 'mainentity-seconddropdown',
                role: 'listbox',
                name: 'schemaOverrideTypeId',
                options: {'':''},
                value: '',
                required: false,
            }) }}
        </div>
    </div>

    <hr>

    {{ forms.lightswitchField({
        label: "Enable Meta Details fields"|t('sprout-seo') ~ (not isPro ? ' <span class="sprout-pro">PRO</span>' : ''),
        instructions: "Meta Details fields add one more level of fine-tuning over your metadata. With Meta Details fields enabled, content editors will have additional control to customize Search, Open Graph, Twitter Card, Geo, and Robots metadata. Note: enabling Meta Details fields may require additional time for content planning and monitoring in your SEO strategy."|t('sprout-seo'),
        name: 'enableMetaDetailsFields',
        onLabel: "Enable"|t('sprout-seo'),
        toggle: 'settings-enablemetadadetails',
        on: not isPro ? false : settings.enableMetaDetailsFields,
        disabled: not isPro
    }) }}

    <div id="settings-enablemetadadetails"
         class="{% if not settings.enableMetaDetailsFields %} hidden {% endif %}">

        {% set advancedInput %}
            <table class="data" style="width: auto;">
                <thead>
                <tr>
                    <th scope="col">{{ "Meta Tag Type"|t('sprout-seo') }}</th>
                    <th scope="col">{{ "Editable?"|t('sprout-seo') }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label for="showSearchMeta">{{ "Allow Search Meta fields to be edited?"|t('sprout-seo') }}</label>
                    </td>
                    <td class="centeralign">
                        <div>
                            {{ forms.lightswitch({
                                name: 'showSearchMeta',
                                on:   settings.showSearchMeta
                            }) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="showOpenGraph">{{ "Allow Open Graph fields to be edited?"|t('sprout-seo') }}</label>
                    </td>
                    <td class="centeralign">
                        <div>
                            {{ forms.lightswitch({
                                name: 'showOpenGraph',
                                on:   settings.showOpenGraph
                            }) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="showTwitter">{{ "Allow Twitter fields to be edited?"|t('sprout-seo') }}</label>
                    </td>
                    <td class="centeralign">
                        <div>
                            {{ forms.lightswitch({
                                name: 'showTwitter',
                                on:   settings.showTwitter
                            }) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="showGeo">{{ "Allow Geo fields to be edited?"|t('sprout-seo') }}</label>
                    </td>
                    <td class="centeralign">
                        <div>
                            {{ forms.lightswitch({
                                name: 'showGeo',
                                on:   settings.showGeo
                            }) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="showRobots">{{ "Allow Robots fields to be edited?"|t('sprout-seo') }}</label>
                    </td>
                    <td class="centeralign">
                        <div>
                            {{ forms.lightswitch({
                                name: 'showRobots',
                                on:   settings.showRobots
                            }) }}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        {% endset %}

        {{ forms.field({
            errors: ''
        }, advancedInput) }}

    </div> {# End meta details div #}

    <hr>

    {{ forms.lightswitchField({
        label: "Enable Canonical URL field"|t('sprout-seo') ~ (not isPro ? ' <span class="sprout-pro">PRO</span>' : ''),
        instructions: "Allow users to override the Canonical URL at Element Metadata field level"|t('sprout-seo'),
        id: 'editCanonical',
        name: 'editCanonical',
        on: not isPro ? false : settings.editCanonical,
        disabled: not isPro
    }) }}

    {% js on ready %}

        Craft.SproutFields.initFields($("#content"));

        new SproutSeoWebsiteIdentitySettings({
        items: {{ schemaSubtypes|json_encode|raw }},
        mainEntityValues: {{ mainEntityValues|json_encode|raw }}
        });

    {% endjs %}

    {% css %}
        .sprout-selectotherdropdown    select {
        max-width: 300px;
        }
    {% endcss %}
{% else %}

    {{ sprout.upgradeToProCallout({
        message: '<a href="'~cpUrl('sprout-seo/upgrade')~'">Upgrade to PRO</a> to add additional Metadata field mappings, manage redirects, and generate sitemaps.'
    }) }}

{% endif %}