{% extends "sprout-seo/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set title = sitemapSection.name ?? "Create a new custom page"|t %}

{% set crumbs = [
    { label: "Sitemap"|t, url: url('sprout-seo/sitemaps') }
] %}

{% set centered = true %}

{% set fullPageForm = true %}

{# Map the `sitemapSection` object to `values` so we can use the same templates for Sitemap Sections and the Optimize Field Type #}
{% set values = sitemapSection %}
{% set saveShortcutRedirect = continueEditingUrl %}

{% block actionButton %}
    <input type="hidden" name="action"
           value="sprout-seo/sitemaps/save-sitemap-section">
    {{ redirectInput('sprout-seo/sitemaps/' ~ currentSite.handle) }}
    <input type="hidden" id="sectionId" name="id"
           value="{{ sitemapSection.id is defined ? sitemapSection.id : '' }}">
    <input type="hidden" name="urlEnabledSectionId"
           value="{{ sitemapSection.urlEnabledSectionId ?? '' }}">
    <input type="hidden" name="type"
           value="{{ sitemapSection.type ?? '' }}">
    <input type="hidden" name="siteId"
           value="{{ sitemapSection.siteId ?? null }}">

    <div class="btngroup submit first">
        <input type="submit" class="btn submit"
               value="{{ 'Save'|t('sprout-seo') }}">
        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li><a class="formsubmit"
                       data-redirect="{{ continueEditingUrl|hash }}">{{ "Save and continue editing"|t('sprout-seo') }}
                        <span class="shortcut">⌘S</span></a></li>
            </ul>
            <hr>
            <ul>
                <li><a class="formsubmit error"
                       data-action="sprout-seo/sitemaps/delete-sitemap-by-id"
                       data-confirm="{{ "Are you sure you want to delete this Custom Page?"|t('sprout-seo') }}"
                       data-redirect="{{ 'sprout-seo/sitemaps'|hash }}">{{ "Delete"|t('sprout-seo') }}</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block header %}
    {{ block('pageTitle') }}

    {{ block('actionButton') }}
{% endblock %}

{% block content %}

    {{ forms.textField({
        label: "URI"|t('sprout-seo'),
        instructions: "The relative path of the Custom Page. The Base URL will be appended for you."|t('sprout-seo'),
        id: "uri",
        required: true,
        name: 'uri',
        value: (sitemapSection.uri == '__home__') ? "/" : sitemapSection.uri,
        errors: sitemapSection.getErrors('uri')
    }) }}

    {% set priorityList = {
        '1.0': '1.0 ↑ Highest'|t,
        '0.9': '0.9',
        '0.8': '0.8',
        '0.7': '0.7',
        '0.6': '0.6',
        '0.5': '0.5',
        '0.4': '0.4',
        '0.3': '0.3',
        '0.2': '0.2',
        '0.1': '0.1',
        '0.0': '0.0 ↓ Lowest'|t
    } %}

    {% set frequencyList = {
        'always': 'Always'|t,
        'hourly': 'Hourly'|t,
        'daily': 'Daily'|t,
        'weekly': 'Weekly'|t,
        'monthly': 'Monthly'|t,
        'yearly': 'Yearly'|t,
        'never': 'Never'|t
    } %}

    {{ forms.selectField({
        label: "Priority"|t,
        name: 'priority',
        options: priorityList,
        value: (sitemapSection.priority ? sitemapSection.priority : 0.5),
        errors: "",
        required: false
    }) }}

    {{ forms.selectField({
        label: "Change Frequency"|t,
        name: 'changeFrequency',
        options: frequencyList,
        value: (sitemapSection.changeFrequency ? sitemapSection.changeFrequency : 'weekly'),
        errors: "",
        required: false
    }) }}


{% endblock %}

{% block details %}

    <div class="meta">
        {{ forms.lightswitchField({
            label: "Enable"|t,
            id: 'enabled',
            name: 'enabled',
            on:  (sitemapSection.enabled is defined ? sitemapSection.enabled : false)
        }) }}
    </div>

    <hr>

    <div class="meta read-only">
        <div class="data">
            <div class="heading">{{ "Site"|t('sprout-seo') }}</div>
            <div class="value">{{ currentSite.name }}</div>
        </div>
        <div class="data">
            <div class="heading">{{ "Base URL"|t('sprout-seo') }}</div>
            <div class="value">{{ currentSite.baseUrl }}</div>
        </div>
    </div>

{% endblock %}

{% do view.registerAssetBundle("barrelstrength\\sproutseo\\web\\assets\\sitemaps\\SitemapsAsset") %}

{% if sitemapSection.name is not defined or not sitemapSection.handle %}
    {% js %}
        new Craft.HandleGenerator('#name', '#handle');
    {% endjs %}
{% endif %}

{% js %}

    $('#sproutseo-optimizedkeywords-field input').tagEditor({
    animateDelete: 20
    });

    new Craft.SproutSeoMetaTags();

{% endjs %}


