{% macro infoIcon(params) %}
    {%- set label = params.label ?? null -%}
    {%- set class = params.class ?? null -%}
    {%- set search = params.search ?? false -%}
    {%- set structured = params.structured ?? false -%}
    {%- set openGraph = params.openGraph ?? false -%}
    {%- set twitterCard = params.twitterCard ?? false -%}
    {%- set geo = params.geo ?? false -%}
    {%- set robots = params.robots ?? false -%}
    {%- set priority = params.priority ?? null -%}
    {%- set message = params.message ?? null -%}

    <span class="info sproutseo-info">
        <div class="sprout-info-body sproutseo-metalevel-hud">
            <h6>{{ "Metadata Used For"|t }}</h6>
            {% if search %}<span class="sproutseo-icon icon-search">
                {{ svg('@sproutbaseicons/search.svg') }}
                </span> {{ "Search"|t }}<br>{% endif %}
            {% if structured %}<span class="sproutseo-icon icon-puzzle">
                {{ svg('@sproutbaseicons/puzzle-piece.svg') }}
                </span> {{ "Structured Data"|t }}<br>{% endif %}

            {% if openGraph %}<span class="sproutseo-icon icon-facebook">
                {{ svg('@sproutbaseicons/facebook-f.svg') }}
                </span> {{ "Open Graph"|t }}<br>{% endif %}
            {% if twitterCard %}<span class="sproutseo-icon icon-twitter">
                {{ svg('@sproutbaseicons/twitter.svg') }}
                </span> {{ "Twitter Card"|t }}<br>{% endif %}
            {% if geo %}<span class="sproutseo-icon icon-location">
                {{ svg('@sproutbaseicons/map-marker-alt.svg') }}
                </span> {{ "Geo"|t }}<br>{% endif %}
            {% if robots %}<span class="sproutseo-icon icon-robots">
                {{ svg('@sproutbaseicons/search-minus.svg') }}
                </span> {{ "Robots"|t }}<br>{% endif %}

            {% if message %}<p><i>{{ message }}</i></p>{% endif %}
        </div>
    </span>
{% endmacro %}