{% import "_includes/forms" as forms %}
{% import "sprout-seo/_includes/sproutseo" as sprout %}

{# This needs to be here to make sure the checkboxes work properly #}
<input type="hidden" name="{{ robotsNamespace }}" value="">

{% set robotsCheckboxes %}
    <table class="data" style="width: auto;">
        <thead>
        <tr>
            <th scope="col">{{ "Enable?"|t('sprout-seo') }}</th>
            <th scope="col">{{ "Description"|t('sprout-seo') }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="centeralign">
                <div>
                    {{ forms.lightswitch({
                        name: robotsNamespace ~ '[noindex]',
                        on:   robots.noindex ?? false
                    }) }}
                </div>
            </td>
            <td>
                <label for="showGeo">
                    <code>noindex</code>
                    - {{ "search engines should not index this page"|t('sprout-seo') }}
                </label>
            </td>
        </tr>
        <tr>
            <td class="centeralign">
                <div>
                    {{ forms.lightswitch({
                        name: robotsNamespace ~ '[nofollow]',
                        on:   robots.nofollow ?? false
                    }) }}
                </div>
            </td>
            <td>
                <label for="showRobots">
                    <code>nofollow</code>
                    - {{ "search engines should not follow links on this page"|t('sprout-seo') }}
                </label>
            </td>
        </tr>
        <tr>
            <td class="centeralign">
                <div>
                    {{ forms.lightswitch({
                        name: robotsNamespace ~ '[noarchive]',
                        on:   robots.noarchive ?? false
                    }) }}
                </div>
            </td>
            <td>
                <label for="showOpenGraph">
                    <code>noarchive</code>
                    - {{ "search engines should not provide archived versions of this page"|t('sprout-seo') }}
                </label>
            </td>
        </tr>
        <tr>
            <td class="centeralign">
                <div>
                    {{ forms.lightswitch({
                        name: robotsNamespace ~ '[noimageindex]',
                        on:   robots.noimageindex ?? false
                    }) }}
                </div>
            </td>
            <td>
                <label for="showTwitter">
                    <code>noimageindex</code>
                    - {{ "search engines should not index images on this page"|t('sprout-seo') }}
                </label>
            </td>
        </tr>
        <tr>
            <td class="centeralign">
                <div>
                    {{ forms.lightswitch({
                        name: robotsNamespace ~ '[noodp]',
                        on:   robots.noodp ?? false
                    }) }}
                </div>
            </td>
            <td>
                <label for="showTwitter">
                    <code>noodp</code>
                    - {{ "Google should use page descriptions from the website"|t }}
                    <span class="info">{{ "I don't want Google to use the titles and descriptions from the Open Directory Project (ODP) for this page. I want Google to use the titles and descriptions from the website."|t }}</span>
                </label>
            </td>
        </tr>
        <tr>
            <td class="centeralign">
                <div>
                    {{ forms.lightswitch({
                        name: robotsNamespace ~ '[noydir]',
                        on:   robots.noydir ?? false
                    }) }}
                </div>
            </td>
            <td>
                <label for="showTwitter">
                    <code>noydir</code>
                    - {{ "Bing and Yahoo! should use the titles and descriptions on the website."|t }}
                    <span class="info">{{ "I don't want Bing or Yahoo! to use the Yahoo! Directory titles and descriptions for this page.  I want Bing and Yahoo! to use the titles and descriptions from the website."|t }}</span>
                </label>
            </td>
        </tr>
        </tbody>
    </table>

{% endset %}

{% if robotsContext is defined and robotsContext == 'globals' %}
    {{ forms.field({
        label: "Robots"|t('sprout-seo') ~ sprout.infoIcon({
            label: "Robots"|t('sprout-seo'),
            search: true,
            priority: 'globals'
        }),
        instructions: "Communicate with robots and try to make them behave a bit differently&mdash;if they listen!",
        errors: '',
        first: true,
    }, robotsCheckboxes) }}
{% else %}
    {{ forms.field({
        errors: '',
        first: true,
    }, robotsCheckboxes) }}
{% endif %}
