{% extends "sprout-seo/_layouts/general" %}
{% import "_includes/forms" as forms %}
{% import "sprout-base-fields/_includes/forms" as sproutFields %}
{% import "sprout-seo/_includes/sproutseo" as sprout %}

{% do view.registerAssetBundle("barrelstrength\\sproutseo\\web\\assets\\seo\\SproutSeoAsset") %}

{% set settings = craft.sproutSeo.getSettings() %}

{% set contactOptions = craft.sproutSeo.getFinalOptions('contacts', 'contactType', globals) %}

{% set cols = [
    {
        type: 'selectOther',
        options: contactOptions
    },
    {
        type: 'textual'
    }
] %}

{% block content %}

    <div class="field" style="margin-bottom:0;">
        <div class="heading">
            <label>{{ "Contacts"|t('sprout-seo') }} {{ sprout.infoIcon({
                    label: "Contacts"|t('sprout-seo'),
                    search: true,
                    structured: true,
                    priority: 'globals'
                }) }}</label>
            <p class="instructions">{{ "Manage Contacts for your website. <a href='https://developers.google.com/search/docs/data-types/corporate-contact' target='_blank'>Corporate Contacts</a> metadata is automatically detected and displayed in the Google Knowledge panel."|t('sprout-seo')|raw }}</p>
        </div>
    </div>

    <form method="post" accept-charset="UTF-8" data-saveshortcut>
        {{ csrfInput() }}
        <input type="hidden" name="action"
               value="sprout-seo/global-metadata/save-global-metadata">
        <input type="hidden" name="globalKeys" value="contacts">
        <input type="hidden" name="siteId" value="{{ globals.siteId }}">

        <table id="sproutseo-schema-contacts" class="data fullwidth">
            <thead>
            <tr>
                <th>{{ "Contact Type"|t('sprout-seo') }}</th>
                <th>{{ "Telephone"|t('sprout-seo') }}</th>
                <th class="thin"></th>
                <th class="thin"></th>
            </tr>
            </thead>
            <tbody>

            {% for contact in globals.contacts %}

                <tr data-id="{{ loop.index }}">
                    <td>
                        {{ sproutFields.selectOther({
                            name: 'sproutseo[globals][contacts][' ~ loop.index ~ '][0]',
                            options: contactOptions,
                            value: contact.contactType,
                            otherPlaceholderText: 'Custom Contact Type'|t
                        }) }}
                    </td>
                    <td>
                        {{ forms.text({
                            name: 'sproutseo[globals][contacts][' ~ loop.index ~ '][1]',
                            value: contact.telephone,
                            errors: '',
                            placeholder: '+1-800-555-1212 - International Format'|t('sprout-seo')
                        }) }}
                    </td>
                    <td class="thin action">
                        <a class="move icon" title="{{ 'Reorder'|t('sprout-seo') }}"></a>
                    </td>
                    <td class="thin action">
                        <a class="delete icon" title="{{ 'Delete'|t('sprout-seo') }}"></a>
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>

        <div class="buttons">
            <div id="addContact" class="btn add icon small" tabindex="0">
                {{ "Add a Contact"|t('sprout-seo') }}
            </div>
        </div>

        <hr>

        <div class="buttons">
            <input type="submit" class="btn submit" value="{{ 'Save'|t('sprout-seo') }}"/>
        </div>

    </form>

    {% js %}
        $( document ).ready(function() {
        var globals = {{ globals.contacts|json_encode|raw }};

        if (globals == null)
        {
        $('#addContact').trigger('click');
        }
        });

        (function() {

        var tableId = 'sproutseo-schema-contacts';
        var baseName = 'sproutseo[globals][contacts]';
        var columns = {{ cols|json_encode|raw }};
        var settings = {};

        new Craft.SproutSeo.EditableTable(tableId, baseName, columns, settings);

        })();

    {% endjs %}

{% endblock %}