{% extends "sprout-seo/_layouts/general" %}
{% import "_includes/forms" as forms %}
{% import "sprout-base-fields/_includes/forms" as sproutFields %}
{% import "sprout-seo/_includes/sproutseo" as sprout %}

{% do view.registerAssetBundle("barrelstrength\\sproutseo\\web\\assets\\seo\\SproutSeoAsset") %}

{% set socialProfileOptions = craft.sproutSeo.getFinalOptions('social', 'profileName', globals) %}

{% set cols = [
    {
        type: 'selectOther',
        heading: 'Profile',
        options: socialProfileOptions
    },
    {
        type: 'textual',
        heading: 'URL'
    }
] %}

{% block content %}

    <div class="field" style="margin-bottom:0;">
        <div class="heading">
            <label>{{ "Social Profiles"|t('sprout-seo') }} {{ sprout.infoIcon({
                    label: "Social Profiles"|t('sprout-seo'),
                    search: true,
                    structured: true,
                    openGraph: true,
                    twitterCard: true,
                    priority: 'globals'
                }) }}</label>
            <p class="instructions">{{ "Manage Social Profiles for your website. <a href='https://developers.google.com/search/docs/data-types/social-profile' target='_blank'>Social Profile</a> metadata is automatically detected and displayed in the Google Knowledge panel."|t('sprout-seo')|raw }}</p>
        </div>
    </div>

    <form method="post" accept-charset="UTF-8" data-saveshortcut>
        {{ csrfInput() }}
        <input type="hidden" name="action"
            value="sprout-seo/global-metadata/save-global-metadata">
        <input type="hidden" name="globalKeys" value="meta,social">
        <input type="hidden" name="siteId" value="{{ globals.siteId }}">

        <table id="sproutseo-schema-social" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">{{ "Profile"|t('sprout-seo') }}</th>
                <th scope="col">{{ "URL"|t('sprout-seo') }}</th>
                <th class="thin"></th>
                <th class="thin"></th>
            </tr>
            </thead>
            <tbody>

            {% for socialProfile in globals.social %}

                <tr data-id="{{ loop.index }}">
                    <td>
                        <div class="field sprout-selectother">
                            {{ sproutFields.selectOther({
                                name: 'sproutseo[globals][social][' ~ loop.index ~ '][0]',
                                options: socialProfileOptions,
                                value: socialProfile.profileName,
                                otherPlaceholderText: 'Custom Profile'|t('sprout-seo')
                            }) }}
                        </div>
                    </td>
                    <td>
                        {{ forms.text({
                            name: 'sproutseo[globals][social][' ~ loop.index ~ '][1]',
                            value: socialProfile.url,
                            errors: ''
                        }) }}
                    </td>
                    <td class="thin action">
                        <a class="move icon" title="{{ 'Reorder'|t('sprout-seo') }}"></a>
                    </td>
                    <td class="thin action">
                        <a class="delete icon" title="{{ 'Delete'|t('sprout-seo') }}"></a>
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>

        <div class="buttons">
            <div id="addSocial" class="btn add icon small" tabindex="0">
                {{ "Add a Profile"|t('sprout-seo') }}
            </div>
        </div>

        <hr>

        <div class="buttons">
            <input type="submit" class="btn submit" value="{{ 'Save'|t('sprout-seo') }}"/>
        </div>

    </form>
    {% js %}

        $( document ).ready(function() {
        var globals = {{ globals.social|json_encode|raw }};

        if (globals == null){
        $('#addSocial').trigger('click');
        }
        });

        (function() {

        var tableId = 'sproutseo-schema-social';
        var baseName = 'sproutseo[globals][social]';
        var columns = {{ cols|json_encode|raw }};
        var settings = {};

        new Craft.SproutSeo.EditableTable(tableId, baseName, columns, settings);

        })();

    {% endjs %}
{% endblock %}
